embedded/embedded-test/src/test/resources/artifacts/apps/jdk-exported-resource-app/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <configuration-properties file="automation-credentials.properties"/>

    <flow name="test-flow">
        <http:listener path="/" config-ref-invalid-name="httpListenerConfig"/>
        <java:invoke-static doc:name="Invoke static" doc:id="ae3ca339-a7da-42d6-a7ec-63454455c9db" class="org.mule.test.ResourceGetter" method="getJdkResource()"/>
        <logger level="INFO" doc:name="Logger" doc:id="917d2856-d65a-4269-8418-85ae1e7f8fb6" message="#[payload]"/>
    </flow>

</mule>
